<!-- footer section starts -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Anunay's Portfolio</h3>
            <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> Please
                wait
                for a while all major projects will be listed soon. Till then keep visiting. Connect with me over live
                chat!
            </p>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> home</a>
            <a href="#about"><i class="fas fa-chevron-circle-right"></i> about</a>
            <a href="#skills"><i class="fas fa-chevron-circle-right"></i> skills</a>
            <a href="#education"><i class="fas fa-chevron-circle-right"></i> education</a>
            <a href="#work"><i class="fas fa-chevron-circle-right"></i> work</a>
            <a href="#experience"><i class="fas fa-chevron-circle-right"></i> experience</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <p> <i class="fas fa-phone"></i>+91 995-884-9445</p>
            <p> <i class="fas fa-envelope"></i>anunayanand@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt"></i>Uttar Pradesh, India-201301</p>
            <div class="share">

                <a href="https://www.linkedin.com/in/anunay-anand" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/anunay-anand" class="fab fa-github" target="_blank"></a>
                <a href="mailto:anunayanand@gmail.com" class="fas fa-envelope" target="_blank"></a>
                <a href="#" class="fab fa-twitter" target="_blank"></a>
                <a href="https://t.me/Ch_anand_ler_Bing" class="fab fa-telegram-plane" target="_blank"></a>
            </div>
        </div>
    </div>

    <h1 class="credit">Designed with <i class="fa fa-heart pulse"></i> by <a
            href="https://www.linkedin.com/in/Anunay-Anand"> Anunay Anand</a></h1>

</section>

<!-- footer section ends -->