<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Anunays Code, portfolio, frontend, personal portfolio, portfolio design, portfolio website, personal" />
    <meta name="description"
        content="Welcome to Anunay's Portfolio. A passionate Full Stack Web Developer. An eager learner who is intrigued by things around him" />
    <!-- Custom home Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- StyleSheet related to Project Section-->
    <link rel="stylesheet" href="/css/project.css">
    <!-- Stylesheet related to Experience Section-->
    <link rel="stylesheet" href="/css/experience.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!--Data Aos-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Favicon -->
    <!--If tab loses focus or visibility changes the favicon href is toggled-->
    <link id='favicon' rel="shortcut icon" href="/images/favicon.png" type="image/x-png">
    <title>Portfolio | Anunay Anand</title>
</head>

<body oncontextmenu="return false">
    <!-- Navbar -->
    <%-include('../partials/header.ejs')%>
    <%- body %>
    <%-include('../partials/footer.ejs')%>
    <!-- ==== ALL MAJOR JAVASCRIPT CDNS STARTS ==== -->
    <!-- jquery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- typed.js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"
        integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- particle.js links -->
    <script src="/js/particles.min.js"></script>
    <script src="/js/app.js"></script>

    <!-- Vanilla tilt.js -->
    <script src="/js/vanilla-tilt.js"></script>

    <!--Additional Scroll animation-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <!-- scroll reveal animation -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- ==== ALL MAJOR JAVASCRIPT CDNS ENDS ==== -->
    <!-- Developer Main Script file -->
    <script src="/js/script.js"></script>
</body>

</html>