<!-- Boilerplate for ejs mate -->
<%-layout('layouts/boilerplate')%>

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>
    <div class="quote">
        <span>every experience in your life is being orchestrated to teach you something you need to know to move
            forward.</span>
    </div>

    <div class="timeline">


        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>The Complete Guide(incl Hooks, Router, Redux)</h2>
                </div>
                <div class="desc">
                    <h3>React - maximilian schwarzmüller | Udemy</h3>
                    <p>June 2021 - Present</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Start Up Ace</h2>
                </div>
                <div class="desc">
                    <h3>MERN Developer | Internship</h3>
                    <p>May 2021 - Present</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>The Web Developer Bootcamp 2021</h2>
                </div>
                <div class="desc">
                    <h3>Nodejs, Expressjs & MongoDB - Colt Steele| Udemy</h3>
                    <p>April 2021 - June 2021</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Master the Coding Interview: DS & Algorithm</h2>
                </div>
                <div class="desc">
                    <h3>DSA Bootcamp - Andrie Neagoi | Zero to Mastery Academy</h3>
                    <p>February 2021 - April 2021</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Goldman Sachs</h2>
                </div>
                <div class="desc">
                    <h3>Forage - Goldman Sachs | Virtual Internship</h3>
                    <p>April 2021 - April 2021</p>
                </div>
            </div>
        </div>
        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>AGBI Hackathon</h2>
                </div>
                <div class="desc">
                    <h3>Health Care Claims (Top 20) | Hackerearth Project</h3>
                    <p>December 2020 - March 2021</p>
                </div>
            </div>
        </div>
        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>The Spark Foundation</h2>
                </div>
                <div class="desc">
                    <h3>Web Development | Internship</h3>
                    <p>October 2020 - November 2020</p>
                </div>
            </div>
        </div>

        <div class="container right" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Online Notes Generator</h2>
                </div>
                <div class="desc">
                    <h3>Full Stack PHP + MySQLi | Project</h3>
                    <p>May 2020 - June 2020</p>
                </div>
            </div>
        </div>

        <div class="container left" data-aos="fade-in" data-aos-duration="1000">
            <div class="content">
                <div class="tag">
                    <h2>Diploma in HTML5, Css3 & JS</h2>
                </div>
                <div class="desc">
                    <h3>Alison Learning - Microsoft | Udemy Course</h3>
                    <p>March 2020 - May 2020</p>
                </div>
            </div>
        </div>

    </div>

    <div class="morebtn" data-aos="fade-in" data-aos-duration="1000">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

    </div>
</section>

<!-- scroll top btn -->
<a href="#experience" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->